
.column {
  padding: 22px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}


.puses {
  display: inline-flex;
  margin: 15px;
} 

.pusesElementas {
  margin-right: 1em;
} 


body {
  background: #ffffff;
  color: #000000;
}
.App {
  font-family: sans-serif;
  text-align: left;
  margin: 4rem 10rem;
}


/* these make sure it can work in any text element */
.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #999999;
  outline: none;
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active {
  border-bottom: 1px solid #666666;
  text-align: left;
}

